<div class="nav-titles">
  <h4 class="nav-links"><a href="/home">Gabble</a></h4>
  <h4 class="nav-links"><a href="/createGab">Create A New Gab</a></h4>
  <h4 class="nav-links">Logged in as {{username}}</h4>
  <form action="/logout" method="post">
    <button type="submit" class="nav-links">Logout</button>
  </form>
</div>
</nav>
<form class="createGab" action="/createGab" method="post">
  <h2>Create a New Gab</h2>
  {{#gabErrors.newGab}}
  <p>{{msg}}</p>
  {{/gabErrors.newGab}}
  <textarea name="newGab"></textarea>
  <button type="submit">Post Your Gab</button>
</form>
