<div class="">
  <h2>Create Account</h2>
  <form action="/createAccount" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder='password'>
    <button type="submit" name="button">Submit</button>
  </form>
</div>
