<div class="signUp">
  <h1>Create A Gabble Account</h2>
  <form action="/createAccount" method="post">
    <input class="signup-input" type="text" name="username" placeholder="username"><br>
    <input class="signup-input" type="password" name="password" placeholder='password'><br>
    <button id="signup-submit" class="signup-input" type="submit" name="button">Submit</button>
  </form>
</div>
