<nav class="nav-main">
  <div class="nav-titles">
    <h4 class="nav-links"><a href="/home">Gabble</a></h4>
    <h4 class="nav-links"><a href="/createGab">Create A New Gab</a></h4>
    <h4 class="nav-links">Logged in as {{username}}</h4>
    <form action="/logout" method="post">
      <button type="submit" class="nav-links">Logout</button>
    </form>
  </div>
</nav>
<h2>Recent Gabs</h2>
{{#messages}}
<div class="gab">
  <p class="gab-paragraph">{{username}}: {{body}}</p>
  <p class="gab-paragraph">{{createdAt}}</p>
  <p class="gab-paragraph">likes: {{likes}}</p>
</div>
<form action="/like" method="post">
  <button type="submit">Like</button>
</form>
<form action="/home/{{id}}/delete" method="post">
  <button type="submit">Delete Gab</button>
</form>
{{/messages}}
